body {
    background-color: #232E2E;
}

.imagenlogo {
    background-color: #007F5F;
    height: 15vh;
    background-size: cover;
    background-position: center;
}

#page-content {
    flex: 1 0 auto;    
}
  
#sticky-footer {
    flex-shrink: none;    
}

.login-form {
    width:390px;
}

.login-title {
    font-family: 'Exo', sans-serif;
    text-align:center;
    color: white;    
}

.login-userinput {
    margin-bottom: 10px;    
}

.input-group {
    margin-left: 23px;
}

.login-button {
    margin-top:10px;
    margin-left: 23px;
}

.login-options {
    margin-bottom:0px;
    margin-left: 23px;
}

.login-forgot {
    float: right;
    margin-left: 10px;    
}

.checkbox {
    margin-left: 17px;
}