<div id="div_id_username" class="form-group"> 
    <label for="id_username" class=" requiredField">Nombre de usuario<span class="asteriskField">*</span></label>
    <div class="">
        <input type="text" name="username" value="Fabian" maxlength="150" class="textinput textInput form-control" required id="id_username"> 
        <small id="hint_id_username" class="form-text text-muted">Obligatorio. Longitud máxima de 150 caracteres. Solo puede estar formado por letras, números y los caracteres @/./+/-/_.</small> 
    </div> 
</div>
<div id="div_id_email" class="form-group"> 
    <label for="id_email" class="">Dirección de email</label> 
    <div class=""> 
        <input type="email" name="email" value="fabilevin85@gmail.com" maxlength="254" class="emailinput form-control" id="id_email"> 
    </div> 
</div> 
<div id="div_id_first_name" class="form-group"> 
    <label for="id_first_name" class="">Nombre</label> 
    <div class=""> 
        <input type="text" name="first_name" value="Fabian Andres Moreno" maxlength="30" class="textinput textInput form-control" id="id_first_name"> 
    </div> 
</div> 
<div id="div_id_last_name" class="form-group"> 
    <label for="id_last_name" class="">Apellido</label> 
    <div class=""> 
        <input type="text" name="last_name" value="Levin" maxlength="150" class="textinput textInput form-control" id="id_last_name"> 
    </div>
</div> 



