{% extends 'base.html' %}

{% block contenido %} 
        
    <div class="container">        
        <h1>INICIAR SESION</h1>
        <form method="POST">{% csrf_token %}
            {{form.errors}}
            <input type="text" name="username" placeholder="Ingrese nombre de Usuario">
            <input type="password" name="password" placeholder="Ingrese Contraseña">
            <input type="submit" name="" value="ENVIAR">
        </form>
        <br>
        <a href="{% url 'inicio' %}">¿Ya tenes cuenta? Sacame de aqui. </a>
        <a href="{% url 'usuarios:registrar' %}">¿No tenes cuenta? Registrate. </a>
    </div>
    <br>
{% endblock %}