{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}


<!-- AGREGO EL TITULO DEL TEMPLATE-->
{% block titulo %}
Login
{% endblock %}

<!--DE ESTA FORMA AGREGO EL LOGIN.CSS AL BLOQUE DE LA BASE/ BLOCK.SUPER SE USA PARA OBTENER EL CONTENIDO DEL BLOQUE PADRE -->
{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'usuarios/css/login.css' %}">
{% endblock %}


{% block contenido %}             
    <div class="container login mt-5 text-white shadow-lg p-3 rounded" style="background-color: #303535">        
        <div class="titulo d-flex justify-content-center mb-3 mt-5">
            <h1>INICIAR SESION</h1>
        </div>
        <div class="entrada">
            <form class="" method="POST">{% csrf_token %}                
                {{ form|crispy }}
                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-boton_personalizado mt-3 btn-lg btn-block" value="ENVIAR">ACCEDER</button>            
                </div>
            </form>
        </div>
        <br>
        <div class="container d-flex justify-content-center">            
            <a class="text-white" href="{% url 'usuarios:registrar' %}">¿No tenes cuenta? Registrate. </a>
        </div>
        <div class="container d-flex justify-content-center">            
            <a class="text-white" href="{% url 'usuarios:password_reset' %}">¿Olvidaste tu nombre de usuario/contraseña? Click Aquí. </a>
        </div>
    </div>
    <br>
{% endblock %}