{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

<!-- AGREGO EL TITULO DEL TEMPLATE-->
{% block titulo %}
Registro
{% endblock %}

<!--DE ESTA FORMA AGREGO EL REGISTRE.CSS AL BLOQUE DE LA BASE/ BLOCK.SUPER SE USA PARA OBTENER EL CONTENIDO DEL BLOQUE PADRE -->
{% block css %}
    {{ block.super }}
   	<link rel="stylesheet" type="text/css" href="{% static 'usuarios/css/registro.css' %}">
{% endblock %}

{% block contenido %}
	<div class="container registro text-white shadow-lg p-3 rounded" style="background:#007F5F">
		<div class="d-flex justify-content-center mb-4 mt-4">
			<h1>REGISTRO DE USUARIO</h1>
		</div>
		{{form.errors}}
		<form class="container formulario" method="POST">{% csrf_token %}			
			{{ form|crispy }}
			<div class="d-flex justify-content-center">
				<button type="submit" class="btn btn-danger btn-lg btn-block" style="background: #BF6300" value="CREAR">CREAR</button>			
			</div>
			<div class="container mt-3 d-flex justify-content-center">            
				<a class="text-white" href="{% url 'login' %}">¿Ya tenes cuenta? Logeate. </a>
			</div>
		</form>
	</div>		
{% endblock %}