{% extends 'base.html' %}
{% load static %}

<!-- AGREGO EL TITULO DEL TEMPLATE-->
{% block titulo %}
Posteos Recientes
{% endblock %}

{% block css %}
  {{ block.super }}
   <link rel="stylesheet" type="text/css" href="{% static 'post/css/post.css' %}">
{% endblock %}



{% block contenido %}
<div class="container-fluid fondo">
	<div class="row cuerpo rounded text-white">
		<div class="col-12 item">
			<div class="container">
				<div class="row">
					<div class="col-md-12 search">
						<form method="get" >
							<div id="custom-search-input">
								<input type="text" class="form-control" placeholder="Buscar..." name="buscar">
								<span class="input-group-list">
									<i class="icon icon-search"></i>
									<div class="text-center">
										<button type="submit" class="btn btn-buscar mt-4" >Buscar</button>
									</div>
									
								</span>
							</div>
						</form>
					</div>
				</div>
			</div>
			{% if posts %}
				{% for post in posts %}
					<div class="post-listar card mt-4 cuerpo-oscuro">
						<div class="row no-gutters">
							<div class="col-12 col-md-2 img">
								{% if post.portada %}
									<img src="{{ post.portada.url }}" class="card-img" alt="{{ post.titulo }}">
								{% else %}
									<img src="{% static 'portada/image/LogoINFORINGA-01.png' %}" class="card-img" alt="{{ post.titulo }}">
								{% endif %}
							</div>
							<div class="col-12 col-sm-9">
								<div class="card-body">
									<h3 class="card-title text-uppercase" ><a href="{% url 'MostrarPost' post.id %}" style="color: #E74E67">{{ post.titulo }} </a></h3>
									<h5>Comentarios: <strong>{{ post.commentsPost.count }}</strong></h5>
									<h5>Likes: <strong>{{ post.total_likes }} LIKES</strong></h5>
									<div class="card-text">
										<small>Posteado por 
											<strong>{{ post.usuario.username }}</strong> en la categoria 
											<strong>{{ post.categoria.nombre }}</strong>
										</small>
									</div>
									<div class="card-text"><small class="text-muted">Posteado el {{ post.fecha_creacion|date:'d-m-Y H:i' }}.</small></div>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
				
				<nav class="mt-4 item text-white">
					<ul class="pagination justify-content-center">
					{% if page_obj.has_previous %}
						<li class="page-item">
							<a class="btn btn-boton_personalizado" href="?page={{ page_obj.previous_page_number }}">
								<span class="text-white" aria-hidden="true">&laquo;</span>
								<span class="sr-only text-white">Previous</span>
							</a>
						</li>
					{% else %}
						<li class="page-item disabled">
							<a class="btn btn-boton_personalizado" href="#">
								<span class="text-white" aria-hidden="true">&laquo;</span>
								<span class="sr-only text-white">Previous</span>
							</a>
						</li>
					{% endif %}
					{% for i in page_obj.paginator.page_range %}
						{% if page_obj.number == i %}
							<li class="page-item active">
								<a class="btn btn-boton_personalizado text-white" href="#">{{ i }} <span class="sr-only">(current)</span></a>
							</li>
						{% else %}
							<li class="page-item">
								<a class="btn btn-boton_personalizado text-white" href="?page={{ i }}">{{ i }}</a>
							</li>
						{% endif %}
					{% endfor %}
					{% if page_obj.has_next %}
						<li class="page-item">
							<a class="btn btn-boton_personalizado" href="?page={{ page_obj.next_page_number }}">
								<span class="text-white" aria-hidden="true">&raquo;</span>
								<span class="sr-only text-white">Next</span>
							</a>
						</li>
					{% else %}
						<li class="page-item disabled">
							<a class="btn btn-boton_personalizado" href="#">
								<span class="text-white" aria-hidden="true">&raquo;</span>
								<span class="sr-only text-white">Next</span>
							</a>
						</li>
					{% endif %}
					</ul>
				</nav>
			{% else %} 
			<div class="text-center mb-4 mt-4">
				Ningun Post coincide con su busqueda.
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}