{% extends 'base.html' %}
{% load static %}
{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'portada/css/index.css' %}">
{% endblock %}
<!-- AGREGO EL TITULO DEL TEMPLATE-->
{% block titulo %}
INICIO
{% endblock %}

{% block contenido %}

    <div class="container-fluid index">        
        <!-- CARROUSEL -->
        <div id="carouselExampleControls" class="carousel slide mt-3 mr-5 ml-5 pr-5 pl-5 d-flex align-self-center" style="max-width: 100%" data-ride="carousel">
            <div class="carousel-inner rounded">
                <div class="carousel-item active">
                    <a href="http://evc.cin.edu.ar/informacion" target="_blank"><img class="d-block w-100" src="{% static 'portada/image/becas.png' %}" width="100%" height="auto"></a>
                </div>
                <div class="carousel-item">
                    <a href="http://juc.frre.utn.edu.ar/#agenda" target="_blank"><img class="d-block w-100" src="{% static 'portada/image/Selección_116.png' %}" width="100%" height="auto"></a>
                </div>
                <div class="carousel-item">
                    <a href="https://www.unne.edu.ar/index.php?option=com_k2&view=item&id=94:becas-internas-de-investigacion&Itemid=491&lang=es"  target="_blank"><img class="d-block w-100" src="{% static 'portada/image/unne.png' %}" width="100%" height="auto" ></a>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>        
        <!-- FIN CARROUSEL -->
        <div class="container">            
            <div class="row row-cols-1 row-cols-md-2 mt-4">
                <div class="col mb-4">
                    <div class="card text-white align-items-center pt-4 mt-4 " style="background-color: #404848;">
                        <h1 class="card-title align-content-center mb-4">Actualidad: Coro UNNE</h5>
                        <a href="https://medios.unne.edu.ar/index.php?option=com_k2&view=item&id=4553:actividades-musicales-en-torno-al-coro-de-la-unne&Itemid=164&lang=es" target="_blank"><img class="d-inline-flex mb-4" src="{% static 'portada/image/corounne.jpg' %}" width="100%" height="auto" float="left"></a>
                        <div class="card-body mb-2">                    
                        <p class="card-text p-4" style="background-color:#303535;">El Coro presenta varias actividades virtuales desde las redes sociales del Centro Cultural Universitario de la UNNE. Serán acercamientos teóricos y de apreciación para que el público pueda comprender un poco más las funcionalidades de la voz.</p>
                        </div>
                    </div>
                </div>
                <div class="col mb-4">
                    <div class="card text-white align-items-center pt-4 " style="background-color: #404848;">
                        <h2 class="card-title align-content-center pl-4 pr-4 mb-4">Facultad de Ingeniería evaluaron como positivo el desarrollo de la Nivelación Virtual</h5>
                        <a href="https://medios.unne.edu.ar/index.php?option=com_k2&view=item&id=4551:inicio-en-septiembre-con-200-alumnos&Itemid=160&lang=es" target="_blank"><img class="d-inline-flex mb-4" src="{% static 'portada/image/clasesvirtuales.jpg' %}" width="100%" height="auto" float="left"></a>
                        <div class="card-body mb-2">                    
                        <p class="card-text p-4" style="background-color:#303535;">Desde las Secretarías Académica y de Integración Estudiantil de la Facultad de Ingeniería de la UNNE evaluaron como positivo el desarrollo de la Nivelación Virtual para quienes ingresarán como estudiantes en 2021. “El objetivo fue ampliamente cumplido, ya que los 200 participantes pudieron terminar en tiempo y forma su recorrido por las propuestas del programa” sintetizaron las autoridades de la casa de estudios.</p>
                        </div>
                    </div>
                </div>
                <div class="col mb-4">
                    <div class="card text-white align-items-center pt-4 " style="background-color: #404848;">
                        <h2 class="card-title align-content-center pl-4 pr-4 mb-4">Charlas y conferencias Diego Noriega</h5>
                        <a href="https://www.frre.utn.edu.ar/covid-19/noticias/view/item/conferencia" target="_blank"><img class="d-inline-flex mb-4" src="{% static 'portada/image/conversatorio.jpeg' %}" width="100%" height="auto" float="left"></a>
                        <div class="card-body mb-2">                    
                        <p class="card-text p-4" style="background-color:#303535;">A través de 20 años de emprendimientos y más de 20 empresas he logrado tener miles de experiencias que me han fortalecido en este camino del emprendedurismo junto a éxitos y fracasos que hacen parte de la realidad de los negocios.</p>
                        </div>
                    </div>
                </div>
                <div class="col mb-4">
                    <div class="card text-white align-items-center pt-4 " style="background-color: #404848;">
                        <h2 class="card-title align-content-center pl-4 pr-4 mb-4">FALLING WALLS LAB ARGENTINA 2020</h5>
                        <a href="https://www.frre.utn.edu.ar/covid-19/noticias/view/item/falling_walls_lab_argentina_2020" target="_blank"><img class="d-inline-flex mb-4" src="{% static 'portada/image/fotofalling.png' %}" width="100%" height="auto" float="left"></a>
                        <div class="card-body mb-2">                    
                        <p class="card-text p-4" style="background-color:#303535;">El Servicio Alemán de Intercambio Académico (DAAD), la Embajada de la República Federal de Alemania y la Universidad Tecnológica Nacional (UTN) convocan a participar de la segunda edición del certamen internacional Falling Walls Lab 2020, en Argentina. Las/os postulantes podrán inscribirse a través de una plataforma web, del 3 al 28 de agosto de 2020.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>  

{% endblock %}
