.editar {    
    height: 750px;
    width: 650px;
    padding-top: 40px;   
}

.btn:active {
    background-color: #9d5202!Important;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

.modificacion  {
    height: 620px;
    width: 500px;
}

.modificacion .form-group .textinput {
    width: 435px;
}

.modificacion .form-group #hint_id_username {
    width: 435px;
}

.modificacion .form-group .emailinput{
    width: 435px;
}