.login {    
    height: 600px;
    width: 600px;    
}

.titulo h1 {
    font-size: 50px;
}

.entrada {
    padding-top: 50px;    
}

.btn:active {
    background-color:#EC94A2!Important;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}